body {
	background-color: black;
	color: white;
	padding: 50px 5% 0px 5%;
	font-family: Meiryo, Arial, sans-serif;
}

@media only screen and (min-width: 1081px) {
	body {
		padding: 50px 20% 0px 20%;
	}
	
	table {
		width: auto !important;
	}
}	

h1 {
	text-align: center;
}

table {
	border: 1px solid white;
	padding: 10px 10px 0px 0px;
	width: 100%;
}

a {
    color: #00FFFF;
    text-decoration: none;
}

a:visited {
    color: #8A2BE2;
}

a:hover {
    color: #1E90FF;
    text-decoration: underline;
}

a:active {
    color: #FFD700;
    text-decoration: underline;
}